* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: #fff;
  outline: none;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  z-index: 99999;
}

.main-header > .header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.main-header > .header-wrapper > .logo > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 257px;
}

.main-header > .header-wrapper > .logo > a > img {
  width: 103px;
  height: 29px;
}

.main-header > .header-wrapper > .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 28px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  cursor: text;
}

.main-header > .header-wrapper > .search > img {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 4px 0 0;
}

.main-header > .header-wrapper > .search > span {
  color: #8e8e8e;
  font-size: 13px;
}

.main-header > .header-wrapper > .tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}

.main-header > .header-wrapper > .tabs > div {
  width: 28px;
  height: 28px;
  margin: 0 14px 0 0;
}

.main-header > .header-wrapper > .tabs > div > a > img {
  width: 26px;
  height: 26px;
}

.main-header > .header-wrapper > .tabs > div > button > img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.main {
  width: 100%;
  height: auto;
  padding: 100px 0 0;
}

.main > .realtime-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
}

.main > .realtime-wrapper > .realtime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.main > .realtime-wrapper > .realtime > .people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 15px;
}

.main > .realtime-wrapper > .realtime > .people > .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0;
}

.main > .realtime-wrapper > .realtime > .people > .person > .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at bottom left, #f58529 20%, #c42d91);
  border-radius: 100%;
  margin: 0 0 7px 0;
}

.main > .realtime-wrapper > .realtime > .people > .person > .image-wrapper > img {
  width: 54px;
  height: 54px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.feed {
  width: 616px;
  margin: 0 0 15px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.feed > .feed-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 16px;
}

.feed > .feed-header > .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed > .feed-header > .user-profile > .thumbnail > img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.feed > .feed-header > .user-profile > .nickname > span {
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.feed > .feed-header > .user-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed > .feed-header > .user-tab > button {
  cursor: pointer;
}

.feed > .carousel-wrapper {
  overflow: hidden;
}

.feed > .carousel-wrapper > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.feed > .carousel-wrapper > .carousel > .image {
  width: 100%;
  height: auto;
  z-index: 1;
}

.feed > .main-pictures {
  overflow: hidden;
}

.feed > .main-pictures > .pictures > .picture > img {
  width: 100%;
  height: auto;
}

.feed > .feed-detail {
  padding: 0 16px;
}

.feed > .feed-detail > .feed-info > .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0 0 0;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span {
  margin: 0 0 0 7px;
  cursor: pointer;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span:first-child {
  margin: 0 0 0 0;
  cursor: pointer;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span:first-child > img {
  width: 26px;
  height: 24px;
}

.feed > .feed-detail > .feed-info > .likes > button {
  font-size: 14px;
  font-weight: 600;
}

.feed > .feed-detail > .feed-info > .likes > button {
  font-size: 14px;
  font-weight: 500;
}

.feed > .feed-detail > .feed-info > .contents {
  margin: 6px 0 0 0;
  font-size: 14px;
}

.feed > .feed-detail > .feed-info > .contents > .nickname {
  font-weight: 700;
}

.feed > .feed-detail > .feed-info > .contents > .content {
  overflow-wrap: break-word;
}

.feed > .feed-detail > .feed-info > .contents > .more > button {
  color: #8e8e8e;
}

.feed > .feed-detail > .feed-info > .comments {
  margin: 6px 0 0 0;
  font-size: 14px;
}

.feed > .feed-detail > .feed-info > .comments > .comments-length {
  font-size: 14px;
  color: #8e8e8e;
}

.feed > .feed-detail > .feed-info > .comments > .comment-lists > .list {
  margin: 7px 0 0 0;
}

.feed
  > .feed-detail
  > .feed-info
  > .comments
  > .comment-lists
  > .list
  > .comment-info
  > .nickname
  > a {
  color: black;
  font-weight: 700;
}

.feed > .feed-detail > .feed-info > .comments > .since > a > span {
  margin: 7px 0 0 0;
  font-size: 10px;
  color: #8e8e8e;
}

.feed > .comment-area {
  margin: 7px 0 0 0;
  padding: 20px 16px;
  border-top: 1px solid #dbdbdb;
}

.feed > .comment-area > form {
  display: flex;
  align-items: center;
}

.feed > .comment-area > form > .text-comment {
  width: 95%;
  height: 18px;
}

.feed > .comment-area > form > button {
  color: #0095f6;
  font-weight: 700;
  cursor: pointer;
}
