* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: #fff;
  outline: none;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  z-index: 99999;
}

.main-header > .header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 0px 50px;
}

.main-header > .header-wrapper > .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  padding: 0px 0 0 15px;
}

.main-header > .header-wrapper > .logo > img {
  width: 103px;
  height: 29px;
}

/* .main-header > .header-wrapper > .logo > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
} */
/* 
.main-header > .header-wrapper > .logo > a > img {
  width: 103px;
  height: 29px;
} */

.main-header > .header-wrapper > .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 28px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  cursor: text;
}

.main-header > .header-wrapper > .search > img {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 4px 0 0;
}

.main-header > .header-wrapper > .search > span {
  color: #8e8e8e;
  font-size: 13px;
}

.main-header > .header-wrapper > .tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
}

.main-header > .header-wrapper > .tabs > button > img {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 14px 0 0;
  cursor: pointer;
}

/* .main-header > .header-wrapper > .tabs > div {
  width: 28px;
  height: 28px;
  margin: 0 14px 0 0;
}

.main-header > .header-wrapper > .tabs > div > a > img {
  width: 26px;
  height: 26px;
}

.main-header > .header-wrapper > .tabs > div > button > img {
  width: 26px;
  height: 26px;
  cursor: pointer;
} */

.main-wrapper {
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 0;
}

.main-wrapper > .main {
  position: relative;
}

.main-wrapper > .main > .realtime-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  margin: 0 0 27px 0;
}

.main-wrapper > .main > .realtime-wrapper > .realtime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.main-wrapper > .main > .realtime-wrapper > .realtime > .people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 15px;
}

.main-wrapper > .main > .realtime-wrapper > .realtime > .people > .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.main-wrapper > .main > .realtime-wrapper > .realtime > .people > .person > .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background: radial-gradient(circle at bottom left, #f58529 20%, #c42d91);
  border-radius: 100%;
  margin: 0 0 7px 0;
}

.main-wrapper > .main > .realtime-wrapper > .realtime > .people > .person > .image-wrapper > img {
  width: 54px;
  height: 54px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.feed {
  width: 616px;
  margin: 0 0 15px 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.feed > .feed-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 16px;
}

.feed > .feed-header > .user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed > .feed-header > .user-profile > .thumbnail > img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
  border-radius: 50%;
}

.feed > .feed-header > .user-profile > .nickname > span {
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.feed > .feed-header > .user-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed > .feed-header > .user-tab > button {
  cursor: pointer;
}

.feed > .carousel-wrapper {
  overflow: hidden;
}

.feed > .carousel-wrapper > .carousel {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.feed > .carousel-wrapper > .carousel > .image {
  width: 100%;
  height: auto;
  z-index: 1;
}

.feed > .main-pictures {
  overflow: hidden;
}

.feed > .main-pictures > .pictures > .picture > img {
  width: 100%;
  height: auto;
}

.feed > .feed-detail {
  padding: 0 16px;
}

.feed > .feed-detail > .feed-info > .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0 0 0;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span {
  margin: 0 0 0 7px;
  cursor: pointer;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span:first-child {
  margin: 0 0 0 0;
  cursor: pointer;
}

.feed > .feed-detail > .feed-info > .tabs > .left-tab > span:first-child > img {
  width: 26px;
  height: 24px;
}

.feed > .feed-detail > .feed-info > .likes > button {
  font-size: 14px;
  font-weight: 600;
}

.feed > .feed-detail > .feed-info > .likes > button {
  font-size: 14px;
  font-weight: 500;
}

.feed > .feed-detail > .feed-info > .contents {
  margin: 6px 0 0 0;
  font-size: 14px;
}

.feed > .feed-detail > .feed-info > .contents > .nickname {
  font-weight: 700;
}

.feed > .feed-detail > .feed-info > .contents > .content {
  overflow-wrap: break-word;
}

.feed > .feed-detail > .feed-info > .contents > .more > button {
  color: #8e8e8e;
}

.feed > .feed-detail > .feed-info > .comments {
  margin: 6px 0 0 0;
  font-size: 14px;
}

.feed > .feed-detail > .feed-info > .comments > .comments-length {
  font-size: 14px;
  color: #8e8e8e;
}

.feed > .feed-detail > .feed-info > .comments > .comment-lists > .list {
  margin: 7px 0 0 0;
}

.feed
  > .feed-detail
  > .feed-info
  > .comments
  > .comment-lists
  > .list
  > .comment-info
  > .nickname
  > a {
  color: black;
  font-weight: 700;
}

.feed > .feed-detail > .feed-info > .comments > .since > a > span {
  margin: 7px 0 0 0;
  font-size: 10px;
  color: #8e8e8e;
}

.feed > .comment-area {
  margin: 7px 0 0 0;
  padding: 20px 16px;
  border-top: 1px solid #dbdbdb;
}

.feed > .comment-area > form {
  display: flex;
  align-items: center;
}

.feed > .comment-area > form > .text-comment {
  width: 95%;
  height: 18px;
}

.feed > .comment-area > form > button {
  color: #0095f6;
  font-weight: 700;
  cursor: pointer;
}

.aside-wrapper {
  position: fixed;
  right: 250px;
  top: 120px;
}

.aside-wrapper > .recommend-aside {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 56px;
}

.aside-wrapper > .recommend-aside > .user-recommend-profile {
  display: flex;
  align-items: center;
  margin: 0 0 23px 0;
}

.aside-wrapper > .recommend-aside > .user-recommend-profile > img {
  width: 54px;
  height: 54px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  margin: 0 15px 0 0;
}

.aside-wrapper > .recommend-aside > .user-recommend-profile > .user-recommend {
  display: flex;
  flex-direction: column;
}

.aside-wrapper > .recommend-aside > .user-recommend-profile > .user-recommend > a {
  margin: 0 0 3px 0;
  font-weight: bold;
  font-size: 14px;
}

.aside-wrapper > .recommend-aside > .user-recommend-profile > .user-recommend > span {
  font-size: 12px;
  color: #8e8e8e;
}

.aside-wrapper > .recommend-aside > .recommend-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.aside-wrapper > .recommend-aside > .recommend-all > span {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: bold;
}

.aside-wrapper > .recommend-aside > .recommend-all > a {
  font-size: 12px;
  font-weight: bold;
}

.aside-wrapper > .recommend-aside > .recommend-users > .recommenders {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.aside-wrapper > .recommend-aside > .recommend-users > .recommenders > .recommender-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > .profile {
  display: flex;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > .profile
  > img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0 10px 0 0;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > .profile
  > .recommender-info {
  display: flex;
  flex-direction: column;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > .profile
  > .recommender-info
  > .nickname {
  font-weight: bold;
  font-size: 14px;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > .profile
  > .recommender-info
  > .follow {
  color: #8e8e8e;
  font-size: 12px;
}

.aside-wrapper
  > .recommend-aside
  > .recommend-users
  > .recommenders
  > .recommender-profile
  > button {
  color: #0095f6;
  font-weight: 600;
}

.aside-wrapper > .recommend-aside > .footer-wrapper {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}

.aside-wrapper > .recommend-aside > .footer-wrapper > .main-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  line-height: 15px;
  letter-spacing: 0.2px;
}

.aside-wrapper > .recommend-aside > .footer-wrapper > .main-footer > .footer-text::after {
  content: '∙';
}

.aside-wrapper
  > .recommend-aside
  > .footer-wrapper
  > .main-footer
  > .footer-text:last-child::after {
  content: '';
}

.container-wrapper {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}

.container-wrapper > .container {
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding: 80px 0 0;
}

.container-wrapper > .container > .profile-wrapper {
  margin: 0 0 40px 0;
}

.container-wrapper > .container > .profile-wrapper > .profile {
  display: flex;
  align-items: center;
}

.container-wrapper > .container > .profile-wrapper > .profile > .thumbnail {
  padding: 0 65px;
}

.container-wrapper > .container > .profile-wrapper > .profile > .thumbnail > img {
  width: 150px;
  height: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.container-wrapper > .container > .profile-wrapper > .profile > .profile-info {
  padding: 0 45px;
}

.container-wrapper > .container > .profile-wrapper > .profile > .profile-info > .profile-tabs {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .nickname {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 15px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .nickname {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .direct-message {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px 9px;
  font-weight: 600;
  margin: 0 8px 0 0;
  cursor: pointer;
  background-color: #fafafa;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .following {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 74px;
  height: 28px;
  padding: 5px 9px;
  cursor: pointer;
  margin: 0 8px 0 0;
  background-color: #fafafa;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .following
  > img {
  width: 24px;
  height: 16px;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .scroll {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 34px;
  height: 28px;
  padding: 5px 9px;
  cursor: pointer;
  margin: 0 4px 0 0;
  background-color: #fafafa;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .scroll
  > img {
  width: 10px;
  height: 9px;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .more {
  width: 34px;
  height: 28px;
  padding: 5px 9px;
  cursor: pointer;
  background-color: #fafafa;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-tabs
  > .more
  > img {
  width: 30px;
  height: 14px;
}

.container-wrapper > .container > .profile-wrapper > .profile > .profile-info > .profile-status {
  margin: 0 0 20px 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status {
  display: flex;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .posts {
  display: flex;
  margin: 0 60px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .posts
  > dt {
  margin: 0 5px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .posts
  > dd {
  font-weight: 700;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follower {
  display: flex;
  margin: 0 60px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follower
  > dt {
  margin: 0 5px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follower
  > dd {
  font-weight: 700;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follow {
  display: flex;
  margin: 0 60px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follow
  > dt {
  margin: 0 5px 0 0;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-status
  > .status
  > .follow
  > dd {
  font-weight: 700;
}

.container-wrapper
  > .container
  > .profile-wrapper
  > .profile
  > .profile-info
  > .profile-description
  > h1 {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 4px 0;
}

.container-wrapper > .container > .story-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 130px;
  margin: 0 0 40px 0;
}

.container-wrapper > .container > .story-wrapper > .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.container-wrapper > .container > .story-wrapper > .story:first-child {
  padding: 0 20px 0 40px;
}

.container-wrapper > .container > .story-wrapper > .story > img {
  width: 80px;
  height: 80px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  margin: 0 0 10px 0;
}

.container-wrapper > .container > .story-wrapper > .story > span {
  font-size: 14px;
  font-weight: 600;
}

.container-wrapper > .container > .tab-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dbdbdb;
}

.container-wrapper > .container > .tab-wrapper > .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.container-wrapper > .container > .tab-wrapper > .tabs > .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.container-wrapper > .container > .tab-wrapper > .tabs > .tab > img {
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
}

.container-wrapper > .container > .tab-wrapper > .tabs > .tab > span {
  color: #8e8e8e;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.container-wrapper > .container > .tab-wrapper > .tabs .on {
  border-top: 1px solid black;
}

.container-wrapper > .container > .tab-wrapper > .tabs .on > span {
  color: black;
}

.container-wrapper > .container > .posts-wrapper {
  display: flex;
  flex-direction: column;
}

.container-wrapper > .container > .posts-wrapper > .posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 28px 0;
}

.container-wrapper > .container > .posts-wrapper > .posts > .post {
  width: 293px;
  height: 293px;
}

.container-wrapper > .container > .posts-wrapper > .posts > .post > a > img {
  width: 293px;
  height: 293px;
}

.container-wrapper > .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 150px;
  background-color: #fafafa;
  height: 104px;
}

.container-wrapper > .footer-wrapper > .main-footer {
  display: flex;
  align-items: center;
}

.container-wrapper > .footer-wrapper > .main-footer > .footer-text {
  color: #00376b;
  font-size: 12px;
  font-weight: 600;
  margin: 0 14px 0 0;
}

.container-wrapper > .footer-wrapper > span {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 600;
}
